.nav{
    background-color:#3742BF;
    width: 100%;
    padding: 20px;
}

.container{
    display: flex;
}
.container li{
    list-style-type: none;
    padding: 5px;
}

.container .reactRouterLink{
    text-decoration: none;
    color: aliceblue;
    transition: color;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.container .reactRouterLink:hover{
    color: red;
}

